<!DOCTYPE html>
<html data-wf-domain="ostenwilde.webflow.io" data-wf-page="655c6df74df736dbb415aadf" data-wf-site="654fa396610b458bf44c6f7e" lang="en">


<head>
    <title> ꝚAIHAN AꝚSH - About</title>
    <%- include('../layouts/header.ejs') %>
</head>




<body>

    <%- include('../layouts/preloader.ejs') %>


	<%- include('../layouts/menu.ejs') %>

	
	<%- include('../layouts/navbar.ejs') %>



    <div style="opacity:0" class="page-wrapper">

        <div class="section-about">
            <div class="about-grid">
                
                <div class="about-grid-left" id="w-node-_7e789ba9-6323-999c-3085-00bf559ec14e-b415aadf">
                    
                    <div class="project-cms-top">
                        <div class="margin-bottom margin-small">
                            <h1 data-w-id="7e789ba9-6323-999c-3085-00bf559ec150"
                                style="opacity:0;-webkit-transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                class="heading-style-xlarge">
                                ꝚAIHAN<br><span class="text-colour-orange">AꝚSH</span>
                            </h1>
                        </div>
                        <div class="text-style-medium"> I'm a 
                            <span class="text-colour-orange"> passionate and accomplished full-stack developer,
                            </span> specializing in the MERN stack, known for building dynamic and scalable web applications.
                        </div>                        
                    </div>

                    <!-- About Me Area -->
                    <div class="about-wrapper-inner">
                        <div class="margin-bottom margin-xsmall">
                            <div class="text-meta">About me</div>
                        </div>
                        <div class="margin-bottom margin-small">
                            <div data-w-id="0ff028ce-9e0c-9ab9-b878-9da4263010e5" style="width:0px"
                                class="horizontal-line"></div>
                        </div>
                        <div class="margin-bottom margin-medium">
                            <p class="text-colour-grey">I am a 34-year-old passionate and dedicated full-stack developer specializing in the MERN stack. 
                                I hold a BA degree in English Language and Literature and began my professional journey as a Sales and Service Executive 
                                at Malabar Gold and Diamonds, where I worked for 9 years, developing strong problem-solving and interpersonal skills.
                            </p>
                            <br>
                            <p class="text-colour-grey">After a 10-year academic career gap, I decided to pursue my passion for technology. Through self-learning, 
                                I mastered JavaScript and the MERN stack, allowing me to transition into the IT field. My journey reflects my determination 
                                and adaptability, and I have successfully completed two web development projects, showcasing my ability to create dynamic 
                                and scalable applications.
                            </p>
                            <br>
                            <p class="text-colour-grey">I am proud to hail from Kerala, India. My unique blend of experiences, 
                                creativity, and technical expertise enables me to approach challenges with a fresh perspective and deliver impactful solutions.
                            </p>
                        </div>                        
                    </div>

                    <!-- History Area -->
                    <div class="about-wrapper-inner">
                        <div class="margin-bottom margin-xsmall">
                            <div class="text-meta">History | Honours</div>
                        </div>
                        <div class="margin-bottom margin-small">
                            <div data-w-id="87d3ec8a-da74-7507-04c9-b585575be4f7" style="width:0px"
                                class="horizontal-line"></div>
                        </div>
                        <div class="award-wrapper">
                            <div class="awards-wrapper-inner">
                                <div class="about-icon-wrapper">
                                    <div class="icon-geometrical-wrapper"><img
                                            src="654fa396610b458bf44c6f7e/655c7a1ff3426d70d90b3067_Group%2023.svg"
                                            loading="lazy" alt="" class="icon-geometrical"></div>
                                    <div class="upper-case">Canon awards</div>
                                </div>
                                <div class="text-colour-grey">2012</div>
                            </div>
                            <div class="awards-wrapper-inner">
                                <div class="about-icon-wrapper">
                                    <div class="icon-geometrical-wrapper"><img
                                            src="654fa396610b458bf44c6f7e/655c7a1f3519f72798fc1128_Group%204.svg"
                                            loading="lazy" alt="" class="icon-geometrical"></div>
                                    <div class="upper-case">Photography award</div>
                                </div>
                                <div class="text-colour-grey">2010</div>
                            </div>
                            <div class="awards-wrapper-inner">
                                <div class="about-icon-wrapper">
                                    <div class="icon-geometrical-wrapper"><img
                                            src="654fa396610b458bf44c6f7e/655c7a1fdfcb44fcb55be22e_Group%2024.svg"
                                            loading="lazy" alt="" class="icon-geometrical"></div>
                                    <div class="upper-case">european challange</div>
                                </div>
                                <div class="text-colour-grey">2008</div>
                            </div>
                            <div class="awards-wrapper-inner">
                                <div class="about-icon-wrapper">
                                    <div class="icon-geometrical-wrapper"><img
                                            src="654fa396610b458bf44c6f7e/655c7a1fc0474fd5bbff6a44_Group.svg"
                                            loading="lazy" alt="" class="icon-geometrical"></div>
                                    <div class="upper-case">sony vision photo</div>
                                </div>
                                <div class="text-colour-grey">2021</div>
                            </div>
                        </div>
                    </div>

                    <!-- Clients Area -->
                    <div class="about-wrapper-inner">
                        <div class="margin-bottom margin-xsmall">
                            <div class="text-meta">Clients</div>
                        </div>
                        <div class="margin-bottom margin-small">
                            <div data-w-id="4752693b-fc66-9786-7ffc-34abd3d5a89f" style="width:0px"
                                class="horizontal-line"></div>
                        </div>
                        <div class="about-client-wrapper">
                            <div class="about-client-wrapper-inner"><img
                                    src="654fa396610b458bf44c6f7e/655c8528c0c885602eea149c_Bullet%20Pointsvg.svg"
                                    loading="lazy" alt="" class="icon-bulletpoint">
                                <div class="upper-case">GUCCI</div>
                            </div>
                            <div class="about-client-wrapper-inner"><img
                                    src="654fa396610b458bf44c6f7e/655c8528c0c885602eea149c_Bullet%20Pointsvg.svg"
                                    loading="lazy" alt="" class="icon-bulletpoint">
                                <div class="upper-case">PRADA</div>
                            </div>
                            <div class="about-client-wrapper-inner"><img
                                    src="654fa396610b458bf44c6f7e/655c8528c0c885602eea149c_Bullet%20Pointsvg.svg"
                                    loading="lazy" alt="" class="icon-bulletpoint">
                                <div class="upper-case">NIKE</div>
                            </div>
                            <div class="about-client-wrapper-inner"><img
                                    src="654fa396610b458bf44c6f7e/655c8528c0c885602eea149c_Bullet%20Pointsvg.svg"
                                    loading="lazy" alt="" class="icon-bulletpoint">
                                <div class="upper-case">LAUREN</div>
                            </div>
                            <div class="about-client-wrapper-inner"><img
                                    src="654fa396610b458bf44c6f7e/655c8528c0c885602eea149c_Bullet%20Pointsvg.svg"
                                    loading="lazy" alt="" class="icon-bulletpoint">
                                <div class="upper-case">ARMANI</div>
                            </div>
                            <div class="about-client-wrapper-inner"><img
                                    src="654fa396610b458bf44c6f7e/655c8528c0c885602eea149c_Bullet%20Pointsvg.svg"
                                    loading="lazy" alt="" class="icon-bulletpoint">
                                <div class="upper-case">GUCCI</div>
                            </div>
                            <div class="about-client-wrapper-inner"><img
                                    src="654fa396610b458bf44c6f7e/655c8528c0c885602eea149c_Bullet%20Pointsvg.svg"
                                    loading="lazy" alt="" class="icon-bulletpoint">
                                <div class="upper-case">ADDIDAS</div>
                            </div>
                            <div class="about-client-wrapper-inner"><img
                                    src="654fa396610b458bf44c6f7e/655c8528c0c885602eea149c_Bullet%20Pointsvg.svg"
                                    loading="lazy" alt="" class="icon-bulletpoint">
                                <div class="upper-case">HERMES</div>
                            </div>
                            <div class="about-client-wrapper-inner"><img
                                    src="654fa396610b458bf44c6f7e/655c8528c0c885602eea149c_Bullet%20Pointsvg.svg"
                                    loading="lazy" alt="" class="icon-bulletpoint">
                                <div class="upper-case">CHANEL</div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="about-grid-right" id="w-node-_7e789ba9-6323-999c-3085-00bf559ec16b-b415aadf"><img
                        src="/654fa396610b458bf44c6f7e/MyPhotos/0B9A6323-1.jpg"
                        loading="lazy" sizes="(max-width: 991px) 100vw, 50vw"
                        srcset="
                        654fa396610b458bf44c6f7e/MyPhotos/0B9A6323-1.jpg 500w, 
                        654fa396610b458bf44c6f7e/MyPhotos/0B9A6323-1.jpg 800w, 
                        654fa396610b458bf44c6f7e/MyPhotos/0B9A6323-1.jpg 1080w, 
                        654fa396610b458bf44c6f7e/MyPhotos/0B9A6323-1.jpg 1520w"
                        alt="Portrait Mobile" class="image-content height-100">
                    <div class="image-noise"></div>
                </div>
            </div>
        </div>

        <%- include('../layouts/footer.ejs') %>

        
    </div>

</body>

</html>