<!DOCTYPE html>
<html data-wf-domain="ostenwilde.webflow.io" data-wf-page="654fa396610b458bf44c6f81" data-wf-site="654fa396610b458bf44c6f7e" lang="en">


<head>
	<title> ꝚAIHAN AꝚSH - Webflow Portfolio </title>
	<%- include('../layouts/header.ejs') %>
</head>


<body>

	<%- include('../layouts/preloader.ejs') %>


	<%- include('../layouts/menu.ejs') %>

	
	<%- include('../layouts/navbar.ejs') %>


	<div class="page-wrapper" data-w-id="18116bd5-01f3-2c62-d254-4f3e2b928a07" style="opacity:0">

		<%- include('../layouts/section-home-hero.ejs') %>


		<%- include('../layouts/section-home-clients.ejs') %>


		<%- include('../layouts/section-home-about.ejs') %>


		<%- include('../layouts/section-home-projects.ejs') %>


		<%- include('../layouts/section-home-services.ejs') %>


		<%- include('../layouts/section-home-project-board.ejs') %>


		<%- include('../layouts/section-home-history.ejs') %>


		<%- include('../layouts/section-home-reviews.ejs') %>


		<%- include('../layouts/footer.ejs') %>

	</div>


	<!-- <div class="buy-badge">
		<a href="https://brwebdesign.webflow.io/templates/osten-wilde-portfolio-webflow-template" target="_blank"
			class="link-badge w-inline-block">
			<img src="654fa396610b458bf44c6f7e/6555faa4528495a5285dd024_Webflow%20Letter%20W%20Icon.svg" loading="lazy"
				alt="Logo Webflow" class="image-webflow">
			<div class="text-badge">Buy Template</div>
		</a>
	</div> -->

</body>

</html>