<!DOCTYPE html>
<html data-wf-domain="ostenwilde.webflow.io" data-wf-page="655c6de6ebf851c5b42208e3" data-wf-site="654fa396610b458bf44c6f7e" lang="en">

<head>
    <title> ꝚAIHAN AꝚSH - Journal</title>
    <%- include('../layouts/header.ejs') %>
</head>





<body>

    <%- include('../layouts/preloader.ejs') %>


    <%- include('../layouts/menu.ejs') %>

	
	<%- include('../layouts/navbar.ejs') %>


    <div style="opacity:0" class="page-wrapper">

        <div class="section-journal">
            <div class="padding-global">
                <div class="padding-vertical padding-huge">
                    <div class="margin-bottom margin-small">
                        <h1 data-w-id="63379d67-c299-0404-bac2-38d3525eac43"
                            style="opacity:0;-webkit-transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                            class="heading-style-xxlarge">Journal</h1>
                    </div>



                    <div data-w-id="39840ee3-c6fa-3b6a-5f04-e7f3842a8d77" style="width:0px" class="horizontal-line">
                    </div>


                    <!-- BIG JOURNAL AREA -->
                    <div class="margin-bottom margin-medium">
                        <div id="w-node-_49f948eb-e4c6-ac70-02ad-35943bedc4bb-b42208e3" class="w-dyn-list">
                            <div role="list" class="journal-feature-grid w-dyn-items">

                                <!-- BIG JOURNAL 1 -->
                                <div role="listitem" class="w-dyn-item"><a href="journal/chic-in-black-and-white-mastering-monochrome-fashion-photography.html"
                                        class="project-wrapper-link w-inline-block">
                                        <div class="margin-bottom margin-small">
                                            <div data-w-id="f6bdb9ad-b793-6531-3c81-42112bd20fa9"
                                                class="journal-featured-image-wrapper">
                                                <div class="view-button-wrapper">
                                                    <div class="view-button">
                                                        <div class="text-button">Read Article</div>
                                                    </div>
                                                </div>
                                                <div class="journal-image-content">
                                                    <div class="image-noise"></div><img loading="lazy" width="861"
                                                        height="526" alt=""
                                                        src="6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy.webp"
                                                        sizes="(max-width: 479px) 90vw, (max-width: 767px) 92vw, (max-width: 991px) 44vw, 46vw"
                                                        srcset="6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy-p-500.webp 500w, 6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy-p-800.webp 800w, 6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy-p-1080.webp 1080w, 6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy-p-1600.webp 1600w, 6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy.webp 1900w"
                                                        class="image-content height-100">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="journal-grid-feature-inner">
                                            <div class="journal-content-grid-inner">
                                                <div class="margin-bottom margin-xsmall">
                                                    <div class="text-meta text-colour-grey">May 21, 2022</div>
                                                </div>
                                                <div class="margin-bottom margin-xsmall">
                                                    <h2 class="heading-style-h3">Chic in Black and White: Mastering
                                                        Monochrome Fashion</h2>
                                                </div>
                                                <div class="text-colour-grey">Uncover the timeless allure of black and
                                                    white fashion photography. Delve into the sophistication of creating
                                                    striking images that emphasize form, texture, and style. Elevate
                                                    your portfolio with the magic and timelessness of monochrome
                                                    aesthetics.</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- BIG JOURNAL 2 -->
                                <div role="listitem" class="w-dyn-item"><a
                                        href="journal/fashion-fusion-blending-cultures-in-photography.html"
                                        class="project-wrapper-link w-inline-block">
                                        <div class="margin-bottom margin-small">
                                            <div data-w-id="f6bdb9ad-b793-6531-3c81-42112bd20fa9"
                                                class="journal-featured-image-wrapper">
                                                <div class="view-button-wrapper">
                                                    <div class="view-button">
                                                        <div class="text-button">Read Article</div>
                                                    </div>
                                                </div>
                                                <div class="journal-image-content">
                                                    <div class="image-noise"></div><img loading="lazy" width="861"
                                                        height="526" alt=""
                                                        src="6553c8b3e7dde406596858f4/65f5f9ffdb0bbda7684fc40e_ben-scott-bCnM5P0gcpY-unsplash%20copy.webp"
                                                        sizes="(max-width: 479px) 90vw, (max-width: 767px) 92vw, (max-width: 991px) 44vw, 46vw"
                                                        srcset="6553c8b3e7dde406596858f4/65f5f9ffdb0bbda7684fc40e_ben-scott-bCnM5P0gcpY-unsplash%20copy-p-500.webp 500w, 6553c8b3e7dde406596858f4/65f5f9ffdb0bbda7684fc40e_ben-scott-bCnM5P0gcpY-unsplash%20copy-p-800.webp 800w, 6553c8b3e7dde406596858f4/65f5f9ffdb0bbda7684fc40e_ben-scott-bCnM5P0gcpY-unsplash%20copy-p-1080.webp 1080w, 6553c8b3e7dde406596858f4/65f5f9ffdb0bbda7684fc40e_ben-scott-bCnM5P0gcpY-unsplash%20copy.webp 1500w"
                                                        class="image-content height-100">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="journal-grid-feature-inner">
                                            <div class="journal-content-grid-inner">
                                                <div class="margin-bottom margin-xsmall">
                                                    <div class="text-meta text-colour-grey">May 12, 2024</div>
                                                </div>
                                                <div class="margin-bottom margin-xsmall">
                                                    <h2 class="heading-style-h3">Fashion Fusion: Blending Cultures in
                                                        Fashion Photography</h2>
                                                </div>
                                                <div class="text-colour-grey">Explore the rich tapestry of global
                                                    fashion and the influence of diverse cultural elements. Immerse
                                                    yourself in the art of blending styles, fabrics, and traditions to
                                                    create visually stunning and culturally rich images that reflect the
                                                    diversity of fashion.</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="margin-bottom margin-large">
                        <div data-w-id="8337acff-0f25-b401-a9d3-87f39da53a3a" style="width:0px" class="horizontal-line"></div>
                    </div>


                    <!-- SMALL JOURNAL AREA -->
                    <div class="margin-bottom margin-large">
                        <div class="w-dyn-list">
                            <div role="list" class="journal-grid-wrapper w-dyn-items">

                                <!-- SMALL JOURNAL 1 -->
                                <div role="listitem" class="w-dyn-item"><a
                                        href="journal/unleashing-creative-vision.html"
                                        class="journal-wrapper-link w-inline-block">
                                        <div class="margin-bottom margin-small">
                                            <div class="journal-image-wrapper">
                                                <div class="view-button-wrapper">
                                                    <div class="view-button">
                                                        <div class="text-button">Read Article</div>
                                                    </div>
                                                </div>
                                                <div class="image-noise"></div>
                                                <div class="journal-image-conent"><img loading="lazy" width="861"
                                                        height="526" alt=""
                                                        src="6553c8b3e7dde406596858f4/65f5fa1a1f09693b81b43d10_aiony-haust-owp8uQgoK8U-unsplash%20copy.webp"
                                                        sizes="(max-width: 479px) 90vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, 30vw"
                                                        srcset="6553c8b3e7dde406596858f4/65f5fa1a1f09693b81b43d10_aiony-haust-owp8uQgoK8U-unsplash%20copy-p-500.webp 500w, 6553c8b3e7dde406596858f4/65f5fa1a1f09693b81b43d10_aiony-haust-owp8uQgoK8U-unsplash%20copy-p-800.webp 800w, 6553c8b3e7dde406596858f4/65f5fa1a1f09693b81b43d10_aiony-haust-owp8uQgoK8U-unsplash%20copy-p-1080.webp 1080w, 6553c8b3e7dde406596858f4/65f5fa1a1f09693b81b43d10_aiony-haust-owp8uQgoK8U-unsplash%20copy.webp 1500w"
                                                        class="image-content height-100"></div>
                                            </div>
                                        </div>
                                        <div class="journal-grid-inner">
                                            <div class="journal-content-grid-inner">
                                                <div class="margin-bottom margin-xsmall">
                                                    <div class="text-meta text-colour-grey">March 31. 2024</div>
                                                </div>
                                                <div class="margin-bottom margin-xsmall">
                                                    <h2 class="heading-style-h3">Unleashing Creative Vision in Portrait
                                                        Photography</h2>
                                                </div>
                                                <div class="text-colour-grey">Immerse yourself in a fashion
                                                    photographer&#x27;s daily routine, unveiling the secrets to crafting
                                                    visually stunning narratives. From concept to click, discover the
                                                    meticulous planning and precise timing that brings iconic fashion
                                                    moments to life.</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- SMALL JOURNAL 2 -->
                                <div role="listitem" class="w-dyn-item"><a
                                        href="journal/capturing-elegance-mastering-the-art-of-fashion-photography.html"
                                        class="journal-wrapper-link w-inline-block">
                                        <div class="margin-bottom margin-small">
                                            <div class="journal-image-wrapper">
                                                <div class="view-button-wrapper">
                                                    <div class="view-button">
                                                        <div class="text-button">Read Article</div>
                                                    </div>
                                                </div>
                                                <div class="image-noise"></div>
                                                <div class="journal-image-conent"><img loading="lazy" width="861"
                                                        height="526" alt=""
                                                        src="6553c8b3e7dde406596858f4/65f1b2003782d529d6c1f245_marcus-santos-xw5cQNbky5A-unsplash%20copy%202.webp"
                                                        class="image-content height-100"></div>
                                            </div>
                                        </div>
                                        <div class="journal-grid-inner">
                                            <div class="journal-content-grid-inner">
                                                <div class="margin-bottom margin-xsmall">
                                                    <div class="text-meta text-colour-grey">October 12, 2022</div>
                                                </div>
                                                <div class="margin-bottom margin-xsmall">
                                                    <h2 class="heading-style-h3">Capturing Elegance: Mastering the Art
                                                        of Fashion </h2>
                                                </div>
                                                <div class="text-colour-grey">Elevate your fashion photography with
                                                    expert insights on composition, lighting, and styling. Explore the
                                                    nuanced blend of creativity and technique to capture timeless
                                                    elegance in every frame, unraveling the art of visual storytelling.
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- SMALL JOURNAL 3 -->
                                <div role="listitem" class="w-dyn-item"><a
                                        href="journal/chic-in-black-and-white-mastering-monochrome-fashion-photography.html"
                                        class="journal-wrapper-link w-inline-block">
                                        <div class="margin-bottom margin-small">
                                            <div class="journal-image-wrapper">
                                                <div class="view-button-wrapper">
                                                    <div class="view-button">
                                                        <div class="text-button">Read Article</div>
                                                    </div>
                                                </div>
                                                <div class="image-noise"></div>
                                                <div class="journal-image-conent"><img loading="lazy" width="861"
                                                        height="526" alt=""
                                                        src="6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy.webp"
                                                        sizes="(max-width: 479px) 90vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, 30vw"
                                                        srcset="6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy-p-500.webp 500w, 6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy-p-800.webp 800w, 6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy-p-1080.webp 1080w, 6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy-p-1600.webp 1600w, 6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy.webp 1900w"
                                                        class="image-content height-100"></div>
                                            </div>
                                        </div>
                                        <div class="journal-grid-inner">
                                            <div class="journal-content-grid-inner">
                                                <div class="margin-bottom margin-xsmall">
                                                    <div class="text-meta text-colour-grey">May 21, 2022</div>
                                                </div>
                                                <div class="margin-bottom margin-xsmall">
                                                    <h2 class="heading-style-h3">Chic in Black and White: Mastering
                                                        Monochrome Fashion</h2>
                                                </div>
                                                <div class="text-colour-grey">Uncover the timeless allure of black and
                                                    white fashion photography. Delve into the sophistication of creating
                                                    striking images that emphasize form, texture, and style. Elevate
                                                    your portfolio with the magic and timelessness of monochrome
                                                    aesthetics.</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- SMALL JOURNAL 4 -->
                                <div role="listitem" class="w-dyn-item"><a
                                    href="journal/capturing-elegance-mastering-the-art-of-fashion-photography.html"
                                    class="journal-wrapper-link w-inline-block">
                                    <div class="margin-bottom margin-small">
                                        <div class="journal-image-wrapper">
                                            <div class="view-button-wrapper">
                                                <div class="view-button">
                                                    <div class="text-button">Read Article</div>
                                                </div>
                                            </div>
                                            <div class="image-noise"></div>
                                            <div class="journal-image-conent"><img loading="lazy" width="861"
                                                    height="526" alt=""
                                                    src="6553c8b3e7dde406596858f4/65f1b2003782d529d6c1f245_marcus-santos-xw5cQNbky5A-unsplash%20copy%202.webp"
                                                    class="image-content height-100"></div>
                                        </div>
                                    </div>
                                    <div class="journal-grid-inner">
                                        <div class="journal-content-grid-inner">
                                            <div class="margin-bottom margin-xsmall">
                                                <div class="text-meta text-colour-grey">October 12, 2022</div>
                                            </div>
                                            <div class="margin-bottom margin-xsmall">
                                                <h2 class="heading-style-h3">Capturing Elegance: Mastering the Art
                                                    of Fashion </h2>
                                            </div>
                                            <div class="text-colour-grey">Elevate your fashion photography with
                                                expert insights on composition, lighting, and styling. Explore the
                                                nuanced blend of creativity and technique to capture timeless
                                                elegance in every frame, unraveling the art of visual storytelling.
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                </div>
                                <!-- SMALL JOURNAL 5 -->
                                <div role="listitem" class="w-dyn-item"><a
                                    href="journal/chic-in-black-and-white-mastering-monochrome-fashion-photography.html"
                                    class="journal-wrapper-link w-inline-block">
                                    <div class="margin-bottom margin-small">
                                        <div class="journal-image-wrapper">
                                            <div class="view-button-wrapper">
                                                <div class="view-button">
                                                    <div class="text-button">Read Article</div>
                                                </div>
                                            </div>
                                            <div class="image-noise"></div>
                                            <div class="journal-image-conent"><img loading="lazy" width="861"
                                                    height="526" alt=""
                                                    src="6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy.webp"
                                                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, 30vw"
                                                    srcset="6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy-p-500.webp 500w, 6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy-p-800.webp 800w, 6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy-p-1080.webp 1080w, 6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy-p-1600.webp 1600w, 6553c8b3e7dde406596858f4/65f5f9dd1f09693b81b402da_aiony-haust-K0DxxljcRv0-unsplash%20copy.webp 1900w"
                                                    class="image-content height-100"></div>
                                        </div>
                                    </div>
                                    <div class="journal-grid-inner">
                                        <div class="journal-content-grid-inner">
                                            <div class="margin-bottom margin-xsmall">
                                                <div class="text-meta text-colour-grey">May 21, 2022</div>
                                            </div>
                                            <div class="margin-bottom margin-xsmall">
                                                <h2 class="heading-style-h3">Chic in Black and White: Mastering
                                                    Monochrome Fashion</h2>
                                            </div>
                                            <div class="text-colour-grey">Uncover the timeless allure of black and
                                                white fashion photography. Delve into the sophistication of creating
                                                striking images that emphasize form, texture, and style. Elevate
                                                your portfolio with the magic and timelessness of monochrome
                                                aesthetics.</div>
                                        </div>
                                    </div>
                                </a>
                                </div>
                                <!-- SMALL JOURNAL 6 -->
                                <div role="listitem" class="w-dyn-item"><a
                                    href="journal/unleashing-creative-vision.html"
                                    class="journal-wrapper-link w-inline-block">
                                    <div class="margin-bottom margin-small">
                                        <div class="journal-image-wrapper">
                                            <div class="view-button-wrapper">
                                                <div class="view-button">
                                                    <div class="text-button">Read Article</div>
                                                </div>
                                            </div>
                                            <div class="image-noise"></div>
                                            <div class="journal-image-conent"><img loading="lazy" width="861"
                                                    height="526" alt=""
                                                    src="6553c8b3e7dde406596858f4/65f5fa1a1f09693b81b43d10_aiony-haust-owp8uQgoK8U-unsplash%20copy.webp"
                                                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, 30vw"
                                                    srcset="6553c8b3e7dde406596858f4/65f5fa1a1f09693b81b43d10_aiony-haust-owp8uQgoK8U-unsplash%20copy-p-500.webp 500w, 6553c8b3e7dde406596858f4/65f5fa1a1f09693b81b43d10_aiony-haust-owp8uQgoK8U-unsplash%20copy-p-800.webp 800w, 6553c8b3e7dde406596858f4/65f5fa1a1f09693b81b43d10_aiony-haust-owp8uQgoK8U-unsplash%20copy-p-1080.webp 1080w, 6553c8b3e7dde406596858f4/65f5fa1a1f09693b81b43d10_aiony-haust-owp8uQgoK8U-unsplash%20copy.webp 1500w"
                                                    class="image-content height-100"></div>
                                        </div>
                                    </div>
                                    <div class="journal-grid-inner">
                                        <div class="journal-content-grid-inner">
                                            <div class="margin-bottom margin-xsmall">
                                                <div class="text-meta text-colour-grey">March 31. 2024</div>
                                            </div>
                                            <div class="margin-bottom margin-xsmall">
                                                <h2 class="heading-style-h3">Unleashing Creative Vision in Portrait
                                                    Photography</h2>
                                            </div>
                                            <div class="text-colour-grey">Immerse yourself in a fashion
                                                photographer&#x27;s daily routine, unveiling the secrets to crafting
                                                visually stunning narratives. From concept to click, discover the
                                                meticulous planning and precise timing that brings iconic fashion
                                                moments to life.</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../layouts/footer.ejs') %>

    </div>


</body>

</html>