<!DOCTYPE html>
<html data-wf-domain="ostenwilde.webflow.io" data-wf-page="655b779995fced2c24f3b7e8" data-wf-site="654fa396610b458bf44c6f7e" lang="en">


<head>
    <title> ꝚAIHAN AꝚSH - Works</title>
    <%- include('../layouts/header.ejs') %>
</head>




<body>

    <%- include('../layouts/preloader.ejs') %>


	<%- include('../layouts/menu.ejs') %>

	
	<%- include('../layouts/navbar.ejs') %>


    
    <div style="opacity:0" class="page-wrapper">

        <div class="section-projects-hero">
            <div class="padding-global">
                <div class="padding-top padding-xhuge">
                    <div class="margin-bottom margin-small">
                        <h1 data-w-id="b5d22ba3-82f7-5e15-9a81-2634260d8ea2"
                            style="opacity:0;-webkit-transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                            class="heading-style-xlarge">Projects</h1>
                    </div>
                    <div class="margin-bottom margin-small">
                        <div data-w-id="0fe6df84-fc1d-a5cd-ca74-b7382595a2f8" style="width:0px" class="horizontal-line">
                        </div>
                    </div>
                    <div>Take a look at my latest projects and see how I can help bring your vision to life.</div>
                </div>
            </div>
        </div>

        <div class="section-projects-content">
            <div class="padding-top padding-huge">
                <div class="collection-list-wrapper w-dyn-list">
                    <div role="list" class="project-collection-list w-dyn-items">
                        <div role="listitem" class="project-collection-item w-dyn-item"><a href="project/luittan.html"
                                class="project-image-wrapper w-inline-block">
                                <div class="project-image-wrapper-inner"><img loading="lazy"
                                        src="6553c8b3e7dde406596858f4/65f601e7db96ea0d8d806b7b_cesar-la-rosa-MI6UcceQTFY-unsplash-2%20copy.webp"
                                        alt="" sizes="100vw"
                                        srcset="6553c8b3e7dde406596858f4/65f601e7db96ea0d8d806b7b_cesar-la-rosa-MI6UcceQTFY-unsplash-2%20copy-p-500.webp 500w, 6553c8b3e7dde406596858f4/65f601e7db96ea0d8d806b7b_cesar-la-rosa-MI6UcceQTFY-unsplash-2%20copy-p-800.webp 800w, 6553c8b3e7dde406596858f4/65f601e7db96ea0d8d806b7b_cesar-la-rosa-MI6UcceQTFY-unsplash-2%20copy-p-1080.webp 1080w, 6553c8b3e7dde406596858f4/65f601e7db96ea0d8d806b7b_cesar-la-rosa-MI6UcceQTFY-unsplash-2%20copy-p-1600.webp 1600w, 6553c8b3e7dde406596858f4/65f601e7db96ea0d8d806b7b_cesar-la-rosa-MI6UcceQTFY-unsplash-2%20copy.webp 1900w"
                                        class="image-content">
                                    <div data-w-id="b7fb3229-fb80-3364-80da-a031229425b6" class="image-noise"></div>
                                </div>
                                <div class="projects-heading-wrapper">
                                    <h2 class="heading-style-large upper-case">Luittan</h2>
                                </div>
                            </a>
                            <div class="project-item-content">
                                <div class="project-item-content-inner">
                                    <div class="block">
                                        <div class="text-style-all-caps">Year</div>
                                        <div class="text-colour-grey">2015</div>
                                    </div>
                                    <div class="block">
                                        <div class="text-style-all-caps">Producer</div>
                                        <div class="text-colour-grey">Østen Wilde</div>
                                    </div>
                                    <div class="block">
                                        <div class="text-style-all-caps">Production</div>
                                        <div class="text-colour-grey">Mark Soeren</div>
                                    </div>
                                </div>
                                <div class="project-item-content-inner">
                                    <div class="block">
                                        <div class="text-colour-grey">Voluptatem repellat ex eveniet neque voluptatem
                                            autem. Facilis vero architecto cumque. Omnis ad voluptas qui sequi vel vero.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="project-collection-item w-dyn-item"><a href="project/trior.html"
                                class="project-image-wrapper w-inline-block">
                                <div class="project-image-wrapper-inner"><img loading="lazy"
                                        src="6553c8b3e7dde406596858f4/65f581c6e5834f0c49986feb_pexels-%D0%B0%D0%BB%D0%B5%CC%88%D0%BD%D0%B0-8501676%20copy.webp"
                                        alt="" sizes="100vw"
                                        srcset="6553c8b3e7dde406596858f4/65f581c6e5834f0c49986feb_pexels-%D0%B0%D0%BB%D0%B5%CC%88%D0%BD%D0%B0-8501676%20copy-p-500.webp 500w, 6553c8b3e7dde406596858f4/65f581c6e5834f0c49986feb_pexels-%D0%B0%D0%BB%D0%B5%CC%88%D0%BD%D0%B0-8501676%20copy-p-800.webp 800w, 6553c8b3e7dde406596858f4/65f581c6e5834f0c49986feb_pexels-%D0%B0%D0%BB%D0%B5%CC%88%D0%BD%D0%B0-8501676%20copy-p-1080.webp 1080w, 6553c8b3e7dde406596858f4/65f581c6e5834f0c49986feb_pexels-%D0%B0%D0%BB%D0%B5%CC%88%D0%BD%D0%B0-8501676%20copy-p-1600.webp 1600w, 6553c8b3e7dde406596858f4/65f581c6e5834f0c49986feb_pexels-%D0%B0%D0%BB%D0%B5%CC%88%D0%BD%D0%B0-8501676%20copy.webp 1900w"
                                        class="image-content">
                                    <div data-w-id="b7fb3229-fb80-3364-80da-a031229425b6" class="image-noise"></div>
                                </div>
                                <div class="projects-heading-wrapper">
                                    <h2 class="heading-style-large upper-case">Trior</h2>
                                </div>
                            </a>
                            <div class="project-item-content">
                                <div class="project-item-content-inner">
                                    <div class="block">
                                        <div class="text-style-all-caps">Year</div>
                                        <div class="text-colour-grey">2022</div>
                                    </div>
                                    <div class="block">
                                        <div class="text-style-all-caps">Producer</div>
                                        <div class="text-colour-grey">Østen Wilde</div>
                                    </div>
                                    <div class="block">
                                        <div class="text-style-all-caps">Production</div>
                                        <div class="text-colour-grey">Mark Soeren</div>
                                    </div>
                                </div>
                                <div class="project-item-content-inner">
                                    <div class="block">
                                        <div class="text-colour-grey">Dignissimos non ut aspernatur mollitia nobis sunt.
                                            Deleniti placeat non quo mollitia quia veniam. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="project-collection-item w-dyn-item"><a href="project/gaggi.html"
                                class="project-image-wrapper w-inline-block">
                                <div class="project-image-wrapper-inner"><img loading="lazy"
                                        src="6553c8b3e7dde406596858f4/65f1a095753de5bb1eee62a3_pexels-valentine-angel-fernandez-16733841%20copy%202.webp"
                                        alt="" sizes="100vw"
                                        srcset="6553c8b3e7dde406596858f4/65f1a095753de5bb1eee62a3_pexels-valentine-angel-fernandez-16733841%20copy%202-p-500.webp 500w, 6553c8b3e7dde406596858f4/65f1a095753de5bb1eee62a3_pexels-valentine-angel-fernandez-16733841%20copy%202-p-800.webp 800w, 6553c8b3e7dde406596858f4/65f1a095753de5bb1eee62a3_pexels-valentine-angel-fernandez-16733841%20copy%202-p-1080.webp 1080w, 6553c8b3e7dde406596858f4/65f1a095753de5bb1eee62a3_pexels-valentine-angel-fernandez-16733841%20copy%202-p-1600.webp 1600w, 6553c8b3e7dde406596858f4/65f1a095753de5bb1eee62a3_pexels-valentine-angel-fernandez-16733841%20copy%202.webp 1900w"
                                        class="image-content">
                                    <div data-w-id="b7fb3229-fb80-3364-80da-a031229425b6" class="image-noise"></div>
                                </div>
                                <div class="projects-heading-wrapper">
                                    <h2 class="heading-style-large upper-case">Gaggi</h2>
                                </div>
                            </a>
                            <div class="project-item-content">
                                <div class="project-item-content-inner">
                                    <div class="block">
                                        <div class="text-style-all-caps">Year</div>
                                        <div class="text-colour-grey">2022</div>
                                    </div>
                                    <div class="block">
                                        <div class="text-style-all-caps">Producer</div>
                                        <div class="text-colour-grey">Østen Wilde</div>
                                    </div>
                                    <div class="block">
                                        <div class="text-style-all-caps">Production</div>
                                        <div class="text-colour-grey">Mark Soeren</div>
                                    </div>
                                </div>
                                <div class="project-item-content-inner">
                                    <div class="block">
                                        <div class="text-colour-grey">Excepturi et sit qui accusamus quisquam. Ut velit
                                            optio maxime aut eius quisquam. Suscipit ea ut voluptatibus. Tenetur
                                            doloremque dolore</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="project-collection-item w-dyn-item"><a href="project/klada.html"
                                class="project-image-wrapper w-inline-block">
                                <div class="project-image-wrapper-inner"><img loading="lazy"
                                        src="6553c8b3e7dde406596858f4/65f5824b2419a8d81c4224be_khaled-ghareeb-Ihzh2gYnDqQ-unsplash%20copy%202.webp"
                                        alt="" sizes="100vw"
                                        srcset="6553c8b3e7dde406596858f4/65f5824b2419a8d81c4224be_khaled-ghareeb-Ihzh2gYnDqQ-unsplash%20copy%202-p-500.webp 500w, 6553c8b3e7dde406596858f4/65f5824b2419a8d81c4224be_khaled-ghareeb-Ihzh2gYnDqQ-unsplash%20copy%202-p-800.webp 800w, 6553c8b3e7dde406596858f4/65f5824b2419a8d81c4224be_khaled-ghareeb-Ihzh2gYnDqQ-unsplash%20copy%202-p-1080.webp 1080w, 6553c8b3e7dde406596858f4/65f5824b2419a8d81c4224be_khaled-ghareeb-Ihzh2gYnDqQ-unsplash%20copy%202-p-1600.webp 1600w, 6553c8b3e7dde406596858f4/65f5824b2419a8d81c4224be_khaled-ghareeb-Ihzh2gYnDqQ-unsplash%20copy%202.webp 1900w"
                                        class="image-content">
                                    <div data-w-id="b7fb3229-fb80-3364-80da-a031229425b6" class="image-noise"></div>
                                </div>
                                <div class="projects-heading-wrapper">
                                    <h2 class="heading-style-large upper-case">Klada</h2>
                                </div>
                            </a>
                            <div class="project-item-content">
                                <div class="project-item-content-inner">
                                    <div class="block">
                                        <div class="text-style-all-caps">Year</div>
                                        <div class="text-colour-grey">2022</div>
                                    </div>
                                    <div class="block">
                                        <div class="text-style-all-caps">Producer</div>
                                        <div class="text-colour-grey">Østen Wilde</div>
                                    </div>
                                    <div class="block">
                                        <div class="text-style-all-caps">Production</div>
                                        <div class="text-colour-grey">Mark Soeren</div>
                                    </div>
                                </div>
                                <div class="project-item-content-inner">
                                    <div class="block">
                                        <div class="text-colour-grey">Ipsa cum autem occaecati temporibus dolores. Ipsum
                                            temporibus sunt. Unde est rerum ipsam elig</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="project-collection-item w-dyn-item"><a
                                href="project/ralalauren.html" class="project-image-wrapper w-inline-block">
                                <div class="project-image-wrapper-inner"><img loading="lazy"
                                        src="6553c8b3e7dde406596858f4/65f5f027c27e3ef6bd5e0446_vladislav-nahorny-prk5a05yzvg-unsplash%20copy.webp"
                                        alt="" sizes="100vw"
                                        srcset="6553c8b3e7dde406596858f4/65f5f027c27e3ef6bd5e0446_vladislav-nahorny-prk5a05yzvg-unsplash%20copy-p-500.webp 500w, 6553c8b3e7dde406596858f4/65f5f027c27e3ef6bd5e0446_vladislav-nahorny-prk5a05yzvg-unsplash%20copy-p-800.webp 800w, 6553c8b3e7dde406596858f4/65f5f027c27e3ef6bd5e0446_vladislav-nahorny-prk5a05yzvg-unsplash%20copy-p-1080.webp 1080w, 6553c8b3e7dde406596858f4/65f5f027c27e3ef6bd5e0446_vladislav-nahorny-prk5a05yzvg-unsplash%20copy-p-1600.webp 1600w, 6553c8b3e7dde406596858f4/65f5f027c27e3ef6bd5e0446_vladislav-nahorny-prk5a05yzvg-unsplash%20copy.webp 1900w"
                                        class="image-content">
                                    <div data-w-id="b7fb3229-fb80-3364-80da-a031229425b6" class="image-noise"></div>
                                </div>
                                <div class="projects-heading-wrapper">
                                    <h2 class="heading-style-large upper-case">Rauren</h2>
                                </div>
                            </a>
                            <div class="project-item-content">
                                <div class="project-item-content-inner">
                                    <div class="block">
                                        <div class="text-style-all-caps">Year</div>
                                        <div class="text-colour-grey">2015</div>
                                    </div>
                                    <div class="block">
                                        <div class="text-style-all-caps">Producer</div>
                                        <div class="text-colour-grey">Østen Wilde</div>
                                    </div>
                                    <div class="block">
                                        <div class="text-style-all-caps">Production</div>
                                        <div class="text-colour-grey">Mark Soeren</div>
                                    </div>
                                </div>
                                <div class="project-item-content-inner">
                                    <div class="block">
                                        <div class="text-colour-grey">Voluptas reiciendis autem nostrum est consequatur
                                            qui tenetur dolor. Ducimus quis at et id voluptatibus rerum. Quis sa</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-projects-review">
            <div class="padding-global">
                <div class="padding-bottom padding-xhuge">
                    <div class="projects-review-wrapper">
                        <div id="w-node-_0b0de5b2-e44b-224f-e6f9-a39d60b687a8-24f3b7e8" class="text-style-xxxl-wrapper">
                            <div id="w-node-_1ab6a918-1d50-8576-aa7c-4e15eec3be6f-24f3b7e8"
                                class="text-style-xxxxlarge text-colour-orange">&quot;</div>
                        </div>
                        <div id="w-node-_7ceca306-775b-4463-0a70-a42949c98c2e-24f3b7e8" class="max-width-xlarge">
                            <div id="w-node-_1ab6a918-1d50-8576-aa7c-4e15eec3be71-24f3b7e8"
                                class="vertical-flex center">
                                <div id="w-node-_84a08c14-c68c-7654-f6b0-efb52fdd871e-24f3b7e8"
                                    class="text-align-center">
                                    <div id="w-node-_1ab6a918-1d50-8576-aa7c-4e15eec3be72-24f3b7e8"
                                        class="text-style-large">Working with Østen was a delightful experience; his
                                        professionalism and <span class="text-colour-orange">keen eye for detail
                                            exceeded my expectations</span>, resulting in stunning and timeless images
                                        that perfectly captured the essence of the moment.</div>
                                </div>
                                <div class="padding-top padding-large">
                                    <div class="margin-bottom margin-small"><img
                                            src="633435a4586c976e45d7b8e8/655c6b5af4b5949aca3448cb_Vectors-Wrapper.svg"
                                            loading="lazy" width="192.80162048339844" height="38" alt=""
                                            class="vectors-wrapper"></div>
                                    <div class="text-align-center">Michaela Glas</div>
                                    <div class="text-align-center text-colour-grey">Creative Director</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../layouts/footer.ejs') %>


    </div>


</body>

</html>